*{
    background-color: #171a21;
}
.navigation{
    width: 100%;
    height: 100px;
    background-color: #1b2838;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
}
.navigation img{
    width: 6%;
    position: relative;
    left: 13px;
    background-color: #1b2838;
}
.navigation p{
    width: 200px;
    height: 100px;
    background-color: #1b2838;
    font-size: 70px;
    color: antiquewhite;
    padding-left:70px;
    text-align: center;
    font-style: bold;
}
.navigation ul{
    width: 600px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 190px;
    background-color: #1b2838;
    
}
.navigation ul li a:hover{
    color: white;
}
.navigation li{
    font-size: 30px;
    display: inline;
    color: aliceblue;
    padding: 5px;
    background-color: #1b2838;
}
.navigation a{
    color: darkgray;
    background-color: transparent;
    text-decoration: none;
}
.home{
    width: 100%;
    height: 700px;
    margin-top: 120px;
}
.home h1{
    padding-top: 70px;
}
.carousel-inner img{
    width: 90%;
    height: 700px;
    position: relative;
    left: 70px;
    top: 30px;
}
.recen{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.recen h1{
    font-size: 70px;
    color: darkgrey;
    padding-top: 90px;
}
.recen img{
    width: 200px;
    height: 200px;
    margin-left: 25 px;
    border-radius: 20%;
}
.recen img:hover{
    transform: scale(1.2);
    border: 2px solid red;
}
.topgames{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.topgames h1{
    font-size: 70px;
    color: darkgrey;
    padding-top: 90px;
}
.topgames img{
    width: 200px;
    height: 200px;
    margin-left: 25 px;
    border-radius: 20%;
}
.topgames img:hover{
    transform: scale(1.2);
    border: 2px solid red;
}
.upcoming{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.upcoming h1{
    font-size: 70px;
    color: darkgrey;
    padding-top: 90px;
}
.upcoming img{
    width: 200px;
    height: 200px;
    margin-left: 25 px;
    border-radius: 20%;
}
.upcoming img:hover{
    transform: scale(1.2);
    border: 2px solid red;
}
.about{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.about a img{
    width: 30px;
    height: 30px;
    filter: saturate(0);
    margin-left: 10px;
}
.about h1{
    font-size: 70px;
    color: darkgrey;
}
.about img:hover{
    transform: scale(1.2);
    filter: saturate(1);
    border: none;
}
.icons h3{
    margin-top: 25px;
    color: darkgrey;
}
.about p{
    width: 90%;
    text-align: justify;
    color: darkgrey;
}

